# SPDX-FileCopyrightText: 2020 Veit Schiele
#
# SPDX-License-Identifier: BSD-3-Clause

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks


ci:
  autoupdate_schedule: monthly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: trailing-whitespace
      exclude: tests/cli/test_list.py
    - id: end-of-file-fixer
    - id: check-yaml
      types: [file]
      files: \.(yml|yaml|cff)$
    - id: check-added-large-files
    - id: check-toml
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.14.2
    hooks:
    - id: pyproject-fmt
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
    - id: validate-pyproject
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
    - id: ruff-check
      args: [--fix, --exit-non-zero-on-fix]
      exclude: docs
    - id: ruff-format
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.2
    hooks:
    - id: sphinx-lint
      args: [--jobs=1]
      types: [rst]
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
    - id: interrogate
      args: [--quiet, --fail-under=100]
      pass_filenames: false
  - repo: https://github.com/fsfe/reuse-tool
    rev: v6.2.0
    hooks:
    - id: reuse
      args: ["lint"]
